<div>
    <h1>Cadastro Cliente</h1>
    <div>
        <form id="formaddcliente" action="/clientes/newcliente/cadcliente" method="post">
        <p>Nome: </p>
        <input id="inputnome" type="text" name="namecliente" required>
        <span id="spanname"></span>
        <p>Telefone: </p>
        <input id="telefone" name="telefonecliente" required placeholder="(00) 00000-0000..."></input>
        <p>CPF: </p>
        <input id="cpf" name="cpfcliente" placeholder="000.000.000-00..."><br><br>
        <button type="submit">Cadastrar cliente</button>
    </form>
    </div>
 