<div id="container-medidas">
    <h1>Cadastro de Medidas</h1>
    <div id="container-form">
        <form id="form" action="/clientes/medidas/{{clienteId}}/" method="post">
            <label>Busto:</label>
            <br>
            <input id="inputBusto" name="busto">
            <br><br>

            <label>Cintura:</label>
            <br>
            <input id="inputCintura" name="cintura">
            <br><br>

            <label>Quadril:</label>
            <br>
            <input id="inputQuadril" name="quadril">
            <br><br>

            <label>Comprimento</label>
            <br>
            <input id="inputComprimento" name="comprimento">
            <br><br>

            <label>Ombro:</label>
            <br>
            <input id="inputOmbro" name="ombro">
            <br><br>

            <label>Costas:</label>
            <br>
            <input id="inputCostas" name="costas">
            <br><br>

            <label>Comprimento da Manga:</label>
            <br>
            <input id="inputCManga" name="comprimento_da_manga">
            <br><br>

            <label>Largura da Manga</label>
            <br>
            <input id="inputLManga" name="largura_da_manga">
            <br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
    
