<div>
    <h1>Editar Cliente</h1>
    <div>
        <form id="formeditcliente" action="/clientes/update/:id" method="post">
            <p>Nome: </p>
            <input value="{{nomeparam}}" id="inputnome" type="text" name="namecliente" required>
            <span id="spanname"></span>
            <p>Telefone: </p>
            <input value="{{telefoneparam}}" id="telefone" name="telefonecliente" required placeholder="(00) 00000-0000..."></input>
            <span id="spanphone"></span>

            <p>
                Deseja inserir CPF?
                <input type="checkbox" id="toggleCpf" name="inserirCpf">
            </p>

            <div id="cpfContainer" style="display: none;">
                <p>CPF:</p>
                <input value="{{cpfparam}}" type="text" name="cpfcliente" id="cpfInput" placeholder="000.000.000-00">
            </div>
            <br>
            <button type="submit">Editar cliente</button>
         </form>
    </div>
</div>