<div id="homepage">
    <h1>Doufer</h1>
    <div id="opcoes">
        <div id="opcaocliente">
            <i class="fas fa-users"></i>
            <h3>Clientes</h3>
            <p>Gerenciamento de clientes</p>
            <button id="btncliente">Ver clientes</button>
        </div>

        <div id="opcaopedido">
            <i class="fas fa-box"></i>
            <h3>Pedidos</h3>
            <p>Gerenciamento de pedidos</p>
            <button id="btnpedido">Ver pedidos</button>
        </div>
    </div>
</div>




