<div id="container">
    <p id="title-cliente">Medidas de Nomecliente</p>
    <div id="container-ids">
        <p>MEDIDA ID: 00</p>
        <p>CLIENTE ID: 00</p>
    </div>
    <div id="container-medidas">
        <p id="title-corpo">Medidas do corpo</p>
        <div id="medidas-corpo">
            <div id="medidas-coluna1">
                <p>Busto: 123</p>
                <p>Cintura: 123</p>
                <p>Quadril: 123</p>
                <p>Comprimento: 123</p>
            </div>
            <div id="medidas-coluna2">
                <p>Ombro: </p>
                <p>Costas: &mdash;</p>
            </div>
        </div>
        <p id="title-manga">Medidas da manga</p>
        <div id="medidas-manga">
                <p>Comprimento da Manga: 12</p>
                <p>Largura da Manga: 12</p>
        </div>
    </div>
    <div id="container-buttons">
        <button>Voltar</button>
        <button>Limpar</button>
        <button>Atualizar</button>
    </div>
</div>