<a href="/"><button id="back"><i class="fas fa-home"></i></button></a>

<div id="fundo">
    <h1 id="title">Pedidos</h1>

    <div id="opcoes">
        <select id="fieldsearch">
            <option value="id">ID do Pedido</option>
            <option value="cliente">Cliente</option>
            <option value="data">Data</option>
            <option value="status">Status</option>
        </select>
        <input id="inputsearch" type="search" placeholder="Digite o termo da busca...">
        <button id="btnsearch"><i class="fas fa-search"></i></button>
        <button id="newpedido"><i class="fas fa-cart-plus"></i></button>
        <br><br>
    </div>

    <hr>

    
    {{#if pedidos.length}}
        <h2>Pedidos Registrados</h2>

    {{else}}
        <h2>Você ainda não registrou nenhum pedido !</h2>
    
    {{/if}}
</div>